<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantApp">
        <activity
            android:name=".ImageAdapter"
            android:exported="false"/>
        <activity
            android:name=".ImageRecycler"
            android:exported="false"
            />
        <activity
            android:name=".UploadImage"
            android:exported="false" />
        <activity
            android:name=".CustomerDao"
            android:exported="false" />
        <activity
            android:name=".ImageDao"
            android:exported="false"/>
        <activity
            android:name=".CustomerAdapter"
            android:exported="false" />
        <activity
            android:name=".CustomerInsert"
            android:exported="false" />
        <activity
            android:name=".NewInsertMenu"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".cover_page"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RestaurantApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>